.projectbody{
    /* border: 1px solid black; */
    min-width: 300px;
    max-width: 500px;
    margin: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #e6e6e6;
    transition: 0.4s;
    font-family: 'Roboto', sans-serif;
}

.projectbody:hover{
    transform: scale(1.015);
}


.contentbody{
    width: 100%;
    display: flex;
}

.imgdiv{
    width: 50%;
}
.imgdiv>img{
    width: 100%;
    height: 100%;
}

.contentdiv{
    width: 50%;
}

.h2{
    color: #286DAB;
  text-align: start;
}

.h4{
    color: #B37D4E;
}

.span img{
    transition: 0.4s;
}

.span img:hover{
transform: scale(1.4);
}